

    <!-- NAVBAR JS -->
    <script src="js/navbar.js"></script>
    <script>
        let showModal = document.querySelectorAll('.review')
        let boxModal = document.querySelector('.modalReview')
        let modalClose = document.querySelector('.modalCloseReview')
        

            showModal.forEach(modal => {
                modal.addEventListener("click", () => {
                    boxModal.classList.add('active');
                    menuBarActive.classList.remove('active')

                    modalClose.addEventListener("click", () => {
                        boxModal.classList.remove('active')
                        
                    })

                    document.addEventListener('keydown', (event) => {
                        if(event.keyCode === 27){
                            boxModal.classList.remove('active')
                        }
                    })
                })
            })

    </script>
</body>
</html>