<nav class="navbar">
    <div class="leftBar">
        <div class="image">
            <img src="/images/logo.png" alt="">
            <div class="logoText">
                <h1>Palm Bliss</h1>
                <p>resort</p>
            </div>
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/booking">Book now</a>
            <a href="/FAQ">FAQ</a>
            <a href="/contact">Contact Us</a>
        </div>
    </div>
    <div class="rightBar">
        <% if(isAuthenticated) { %>
            <a href="/mybookings">My Booking</a>
            <a href="/profile">My Profile</a>
            <a href="/logout">Logout</a>
        <%} else { %>
            <a href="/signup">Sign Up</a>
            <a href="/login">Login</a>
        <% } %>
    </div>

    <div class="menuBar bi bi-list"></div>
</nav>

<div class="menuBarActive">
    <div class="closeBar bi bi-x-lg"></div>
    <div class="box-container">
        <div class="links">
            <a href="/">Home</a>
            <a href="/booking">Book now</a>
            <a href="/FAQ">FAQ</a>
            <a href="/contact">Contact Us</a>
            <% if(isAuthenticated) { %>
                <a href="/mybookings" class="btn">My Booking</a>
                <a href="/profile" class="btn">My Profile</a>
                <a href="/logout" class="btn">Logout</a>
            <%} else { %>
                <a href="/signup" class="btn">Sign Up</a>
                <a href="/login" class="btn">Login</a>
            <% } %>
        </div>
    </div>
</div>

