<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>FAQ</title>
</head>
<body>
    <%- include('plugins/navbar') %>

    <section class="faq">
        <div class="header">
            <h1>Frequently Asked Questions</h1>
            <p class="ask">Have questions? We're here to help</p>
        </div>
        <div class="box-container">
            <div class="box">
                <div class="question-box">
                    <p id="question">How do I make a resort reservation online?</p>
                    <button class="btn"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></button>
                </div>
                <div class="answer">
                    <p>To make a resort reservation online, select your dates of stay, and provide your contact information and payment details.</p>
                </div>
            </div>
            <div class="box">
                <div class="question-box">
                    <p id="question">Is my credit card information secure when making an online reservation?</p>
                    <button class="btn"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></button>
                </div>
                <div class="answer">
                    <p>Reputable online reservation systems use secure encryption technology to protect your personal and payment information. </p>
                </div>
            </div>
            <div class="box">
                <div class="question-box">
                    <p id="question">Can I make changes to my reservation online?</p>
                    <button class="btn"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></button>
                </div>
                <div class="answer">
                    <p>Most online reservation systems allow you to modify or cancel your reservation online, but it's important to review the website's policies and any associated fees before making changes.</p>
                </div>
            </div>
            <div class="box">
                <div class="question-box">
                    <p id="question">How do I check if my reservation was confirmed?</p>
                    <button class="btn"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></button>
                </div>
                <div class="answer">
                    <p>After you make an online reservation, you should receive a confirmation email that includes your reservation details. It's important to review this information and contact the resort or website if you have any questions.</p>
                </div>
            </div>
            <div class="box">
                <div class="question-box">
                    <p id="question">What is the cancellation policy for online resort reservations?</p>
                    <button class="btn"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></button>
                </div>
                <div class="answer">
                    <p>The cancellation policy for online resort reservations varies by website and resort. It's important to review the cancellation policy before making a reservation, and to understand any associated fees or penalties for cancelling or modifying your reservation.</p>
                </div>
            </div>
            <div class="box">
                <div class="question-box">
                    <p id="question">How do I retrieve my reservation if I lose my confirmation email?</p>
                    <button class="btn"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></button>
                </div>
                <div class="answer">
                    <p>If you lose your confirmation email, you can usually retrieve your reservation by contacting the resort or website customer service and providing your name and reservation details.</p>
                </div>
            </div>
            <div class="box">
                <div class="question-box">
                    <p id="question">Can I view photos and reviews of the resort before making a reservation?</p>
                    <button class="btn"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></button>
                </div>
                <div class="answer">
                    <p>Most online reservation systems provide photos and reviews of the resort, which can help you make an informed decision before making a reservation.</p>
                </div>
            </div>
            <div class="box">
                <div class="question-box">
                    <p id="question">How do I check-in to the resort after making an online reservation?</p>
                    <button class="btn"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></button>
                </div>
                <div class="answer">
                    <p>The check-in process for online reservations varies by resort. You should review the check-in process on the resort's website or contact the resort directly for more information.</p>
                </div>
            </div>
            <div class="box">
                <div class="question-box">
                    <p id="question">Can I make a reservation for someone else?</p>
                    <button class="btn"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></button>
                </div>
                <div class="answer">
                    <p>In many cases, you can make a reservation for someone else using your own payment information. Be sure to provide the guest's name and contact information when making the reservation.</p>
                </div>
            </div>
            <div class="box">
                <div class="question-box">
                    <p id="question">What are the check-in and check-out times?</p>
                    <button class="btn"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></button>
                </div>
                <div class="answer">
                    <p>Check-in and check-out times can vary depending on the resort and the type of reservation. Typically, check-in times are in the afternoon or early evening, while check-out times are in the morning or early afternoon. Check with the resort or the online reservation system for specific check-in and check-out times for your reservation.</p>
                </div>
            </div>
            <div class="box">
                <div class="question-box">
                    <p id="question">Are there any special requirements or restrictions for making a reservation?</p>
                    <button class="btn"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></button>
                </div>
                <div class="answer">
                    <p>The total cost of your reservation can depend on a number of factors, including the type of room, the length of stay, and any taxes or fees that may apply. Be sure to review the total cost carefully before making your reservation, and check with the resort or the online reservation system for details on any additional charges or fees that may apply.</p>
                </div>
            </div>
        </div>
        <div class="questions">
            <h3>Still have questions?</h3>
            <p>Can't find the answer you're looking for? Please contact us <a href="/contact">here</a></p>
        </div>
    </section>
    
    
    <script>

        const faqs = document.querySelectorAll(".faq .box-container .box");
        
        faqs.forEach(faq => {
            faq.addEventListener("click", () => {
                faq.classList.toggle("active");
            })
        })
    </script>
    
 
<%- include('plugins/footer') %>