<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Login</title>
</head>
<body>
    <%- include('plugins/navbar') %>

    <div class="login">
        <div class="box-container">
            <div class="header">
                <h1>Login</h1>  
                <a href="/">Back to home</a>
            </div>
            <form action="/login" method="post">
                <div class="labelBox">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email" required name="email">
                </div>                    
                <div class="labelBox">
                    <label for="password">Password</label>
                    <input type="password" placeholder="password" required name="password" id="password">
                </div>
                <div class="box">
                    <input type="checkbox" id="showPassword">
                    <label for="showPassword">Show password</label>
                </div>
                <div class="forgotOrSignup">
                    <a href="/recover-account">Forgot password?</a>    
                    <a href="/signup">Dont have an account?</a>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>


  
    
 <script>

    let error = '<%= error %>';

    if(error.length > 0){
        Swal.fire({
            position: 'top-end',
            icon: 'error',
            title: 'Error credentials!',
            showConfirmButton: false,
            timer: 3000
        })
    }

 </script>

<script>
    const passwordInput = document.querySelector("#password");
    const showPasswordCheckbox = document.querySelector("#showPassword");

    showPasswordCheckbox.addEventListener("change", function() {
        const passwordFieldType = this.checked ? "text" : "password";
        passwordInput.type = passwordFieldType;
    });
</script>
<%- include('plugins/footer') %>